@import "tailwindcss";

@theme {
  --color-premium-brand: #000000;
  --color-premium-accent: #0071e3;
  --color-premium-bg: #f5f5f7;
  --color-premium-card: #ffffff;
  --color-premium-text: #1d1d1f;
  --color-premium-secondary: #86868b;

  --font-sans: "Inter", "system-ui", "sans-serif";
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-premium-bg text-premium-text;
}